<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/css/vandors/bootstrap.min.css">
    <!-- Fontawsome -->
    <link rel="stylesheet" href="~/css/vandors/all.min.css">
    <!-- Mian-Style -->
    <link rel="stylesheet" href="~/css/style.css">
    <title>Admin</title>
</head>

<body>
    <!-- ========================================================
    Start Main Header-->
    <header class="main-header bg-main-color color-whait py-3 font-size">
        <div class="container">
            <div class="header-contanet d-flex">
                <i class="fa fa-bars click-pull open-nav-list"></i>
                <div class="logo">
                    <div class="logo-text">Store</div>
                </div>
            </div> <!-- ./ header-contanet-->
            <ul class="list-nav bg-main-color p-5">
                <li class="list-item-nav click-pull mb-3">
                    <a asp-controller="Product" asp-action="index" class="link-nav color-whait" >Products</a>
                </li>
                <li class="list-item-nav click-pull mb-3 drop-pearnt">
                    <a asp-controller="Login" asp-action="index" class="link-nav color-whait">Logins</a>
                </li>
                <li class="list-item-nav click-pull mb-3">
                    <a asp-action="Order" class="link-nav color-whait">Orders</a>
                </li>
                <li class="list-item-nav click-pull mb-3">
                    <a asp-action="customer" class="link-nav color-whait">Customers</a>
                </li>
                <li class="list-item-nav click-pull mb-3">
                    <a asp-action="User" class="link-nav color-whait">Users</a>
                </li>
            </ul> <!-- ./list-nav -->
        </div>
    </header>
    <!-- ========================================================
    End Main Header-->
    <!-- ========================================================
    Start Admin-Products Page-->
    <!-- ========================================================
    End Admin-Products Page-->
    <!-- ================================================
    Start Main Footer -->
    <footer class="py-3 footer bg-main-color color-whait fixed-bottom">
        <div class="text-center">
            <span class="copy-right font-size">Copy Right &copy; 2020 Pnetworkers</span>
        </div>
    </footer>
    <!-- ================================================
    End Main Footer -->
    <!-- Laibiry-Jquery -->
    <script src="~/js/vandors/jquery.js"></script>
    <!-- Bootstarp -->
    <script src="~/js/vandors/bootstrap.min.js"></script>
    <!-- Main Script -->
    <script src="~/js/main.js"></script>
</body>

</html>