@model OnlineStore.Models.User
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/css/vandors/bootstrap.min.css">
    <!-- Fontawsome -->
    <link rel="stylesheet" href="~/css/vandors/all.min.css">
    <!-- Mian-Style -->
    <link rel="stylesheet" href="~/css/style.css">
    <title>Login</title>
</head>

<body>
    <!-- ================================================  Start Header Logo -->

    <header class="py-3 header bg-main-color color-whait">
        <div class="logo text-center">
            <span class="logo-text font-size">Store</span>
        </div>
    </header>
               @ViewBag.ss
   
    
   


    <!-- ================================================
      End Header Logo -->
    <!-- ================================================
      Start login-page -->
    <section class="login-page py-5">
        <div class="container">
            <div class="title text-center mb-5">
                <h2 class="title-page">Login</h2>
            </div>
            <!-- Start Form Lonig -->
            <form class="text-center" asp-controller="Home" asp-action="Index">
                <div class="content-input w-50">
                    <i class="fa fa-user bg-main-color color-whait" aria-hidden="true"></i>
                    <input asp-for="@Model.UserName" class="w-100 my-2 pl-5 py-2" type="text" placeholder="User Name">
                </div> <!-- ./content-input -->
                <div class="content-input w-50">
                    <i class="fa fa-key bg-main-color color-whait"></i>
                    <input asp-for="@Model.Password" class="w-100 my-2 pl-5 py-2" type="password" placeholder="Your Password">
                </div> <!-- ./content-input -->
                <button type="submit" class="btn mt-5 btn-lg w-25 d-block mx-auto  bg-main-color color-whait">
                    Login
                    <i class="fas fa-door-closed"></i>
                    <i class="fas fa-door-open"></i>
                </button>
            </form>
            <!-- End From -->
        </div> <!-- ./container -->
    </section>
    <!-- ================================================
      End login-page -->
    <!-- ================================================
      Start Main Footer -->
    <footer class="py-3 footer bg-main-color color-whait bottom">
        <div class="text-center">
            <span class="copy-right font-size">Copy Right &copy; 2020 Pnetworkers</span>
        </div>
    </footer>
    <!-- ================================================
        End Main Footer -->
    <!-- Laibiry-Jquery -->
    <script src="~/js/vandors/jquery.js"></script>
    <!-- Bootstarp -->
    <script src="~/js/vandors/bootstrap.min.js"></script>
    <!-- Main Script -->
    <script src="~/js/main.js"></script>
</body>

</html>